@model IEnumerable<QAWebsiteProject.Models.Question>
@{
    ViewBag.Title = "Index";
}
<h2><b>INTERROGATORY</b></h2>
<p>
    <b>
        <u>
            @Html.ActionLink("Ask New Question", "Create")
        </u>
    </b>
</p>
@{
    Layout = null;
}
